/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Light background */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

/* Reset button placed on the far left */
#reset {
    position: absolute;
    left: 20px; /* Adjust this value as needed */
    top: 20px;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset:hover {
    background-color: #45a049;
}

/* Heading */
h1 {
    font-size: 36px;
    color: #333;
    margin: 20px 0; /* Add some margin for spacing */
    font-weight: 600;
}

/* Header container with button and heading */
#header-container {
    display: flex; /* Align items horizontally */
    align-items: center; /* Center vertically */
    margin: 20px;
}

/* Container for the graph */
#graph-container {
    width: 100%;
    flex-grow: 1; /* Takes the remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* SVG for the graph */
#graph {
    width: 100%;
    height: 100%; /* Take up 100% of the container height */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

/* Reset button */
#reset {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#reset:hover {
    background-color: #45a049;
}
